<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styleapp.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="POST" enctype="multipart/form-data" name="form">
      <input type="button" id="add" value="Add File">
      <input type="submit" value="Upload"><br>
      <input type="file" name="csvfile0" id="csvFile" class="csv-file"><br>
      <input type="file" name="csvfile1" id="csvFile" class="csv-file"><br>
    </form>  
  </body>
  <script src="/javascripts/script.js"></script>
</html>
