<html>
	<head>
		<meta charset="UTF-8">
		<title>Facebook Data Visualization</title>
	</head>

<body>
		<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<!-- Data to be given to javascript -->
		<div id="container">
			<h1 style="margin-left:500px;"><a href="/facebook">Facebook Data Visualization</a></h1>
		</div> <!--The container to hold the graph-->

		<div id="buttons" class="button-cls">
			<button id="stopforce" class="button button1">Pause</button>
			<button id="resetbutton" class="button button1">Reset</button>	
			<button id="common" class="button button1">Find Common</button>
			<br/><br/>
				Search users here:
				<input type="text" id="test" value="">
			<button id="buttonId" class="button button2" cursor="pointer">Search</button><br><br><br>
		</div>
		<div class="import-div" id="import-div">
				
			<% if(projectName.length > 0){ %>
				<h1><a href="/project/<%= projectName %>"><%= projectName %></a></h1>	
			<% } %>
			Create New Project: <br><br>
			<form action="/" method="POST" enctype="multipart/form-data" name="form">
				<input type="button" id="add" value="+" class="button button1">
				<input type="submit" value="Upload" class="button button2"><br>
				<input type="text" id="project" name="project" placeholder="Enter project name" required>
				<input type="file" name="csvfile0" id="csvFile0" class="csv-file button button1" required="true">
				<!-- <input type="checkbox" name="leafnode0" id="leafnode0"> <br> -->
				<!-- <input type="file" name="csvfile1" id="csvFile1" class="csv-file button button1"> -->
				<!-- <input type="checkbox" name="leafnode1" id="leafnode1"> <br> -->
			</form>
		</div>

		<!-- <div id="nodeinfo">Information of Clicked Node:<br></div> -->
		<section class="ac-container">
				<div id="nodeinfodiv">
					<input id="ac-1" name="accordion-1" type="checkbox" />
					<label for="ac-1">Node Information</label>
					<article class="ac-medium" id="nodeinfo">
						 Click on a Node to view Information
					</article>
				</div>
				<div>
					<input id="ac-2" name="accordion-1" type="checkbox" />
					<label for="ac-2">Connections</label>
					<article class="ac-medium" id="connectinfo">
						 Click on a Node to view connections
					</article>
				</div>
				<div>
					<input id="ac-3" name="accordion-1" type="checkbox" />
					<label for="ac-3">Mutual</label>
					<article class="ac-medium" id="selectioninfo">
						 Right click on leaf nodes to find mutuals
					</article>
				</div>
				<div>
					<input id="ac-4" name="accordion-1" type="checkbox" />
					<label for="ac-4">Maximum Degree</label>
					<article class="ac-medium" id="maxdegree">
						Given nodes have the maximum degree
					</article>
				</div>
		</section>


		<!-- <div id="searchinfo">Information of Searched Node:<br></div>  -->
		<!-- <div id="edgeinfo">Information of Clicked Edge:<br></div> -->

		<!--Importing the JS Library files necessary-->
		
		<!--<script type="text/javascript" src="sigma.renderers.edgeLabels.min.js"></script>-->
		

		<!--Importing the data files-->
		
		<!-- <script type="text/javascript" src="config.js"></script> -->
		<!-- <script type="text/javascript" src="methods.js"></script>
		<script type="text/javascript" src="nodes_and_edges_generator.js"></script>
		 -->
		
		<script type="text/javascript" src="/javascripts/script.js"></script>

</body>
</html>
